/* CSS Document */

:root {
	--barcolor: #2E2E2E;
	--bodybackgroundcolor: #282828;
	--extradarkgray: #333333;
	--verydarkgray: #282828;
	--bordercolor: #282828;
	--boxescolor: #2E2E2E;
	--color: #F0F0F0;
	--defaultbackgroundcolorinide: #212121;
	--defaulttextcolorinide: #F0F0F0;
	--defaultfontfamilyinide: Arial, Felvetica, Sans-Serif;
	--menuoptionwidth: 85px;
	--menuoptionheight: 55px;
	--menutextolor: #E0E0E0;
	--basefontsize: 16px;
	--divinidewidth: 95px;
	--divinideheight: 65px;
}

/* width */
/*::-webkit-scrollbar {
  width: 10px;
}*/

/* Track */
/*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px grey;
  border-radius: 10px;
}*/

/* Handle */
/*::-webkit-scrollbar-thumb {
  background: var(--verydarkgray);
  border-radius: 10px;
}*/

/* Handle on hover */
/*::-webkit-scrollbar-thumb:hover {
	background: #212121;
}*/

body {
	width: auto;
	color: var(--color);
	font-size: var(--basefontsize);
	font-family: Helvetica, sans-serif;
	letter-spacing: 0.5px;
	width: auto;
	height: auto;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	background-color: var(--bodybackgroundcolor);
	user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	box-sizing: border-box;
}

#MainDiv {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: -4;
	background-color: green;
}

#MenuBar {
	left: 0px;
	top: 0px;
	width: 100%;
	height: 50px;
	background-color: var(--boxescolor);
	position: absolute;
	border: 1px solid var(--verydarkgray);
	z-index: 9999999;
	box-sizing: border-box;
	/*background-image: linear-gradient(var(--bodybackgroundcolor), var(--barcolor));*/
}

#LogoDiv {
	margin-left: 15px;
	cursor: pointer;
	width: 60px;
	height: 40px;
	padding-top: 10px;
	position: relative;
	display: inline-block;
}

#LogoImage {
	width: 100%;
	height: auto;
	position: relative;
}

#LeftMenu {
	position: absolute;
	width: 220px;
	height: 100%;
	left: 0;
	top: 50px;
	background-color: var(--boxescolor);
	border-right: 1px solid var(--verydarkgray);
	box-sizing: border-box;

	/*color: white;*/
}

.textboxFilterAreaDiv {
	width: 210px;
	font-size: 80%;
	border: 2px solid var(--boxescolor);
	position: relative;
	box-sizing: border-box;
	/*margin-top: 10px;
	margin-bottom: 30px;*/
}

.textboxFilterAreaDiv span{
	width: 219px;
	height: 40px;
	left: 0px;
	top: 50px;
	padding-top: 12px;
	padding-left: 10px;
	border: none;
	background-color: var(--verydarkgray);
	color: var(--color);
	box-sizing: border-box;
	/*font-size: 85%;*/
	position: fixed;
}

.textboxFilterAreaDiv input{
	width: 100%;
	/*padding: 5px;*/
	padding-top: 20px;
	padding-left: 30px;
	/*border: 1px solid green;*/
	border: none;
	background-color: transparent;
	color: var(--color);
	/*font-size: 80%;*/
	box-sizing: border-box;
	position: relative;
	height: 30px;
	padding-top: 10px;
}

.textboxFilterAreaDiv input:focus {
	outline: none;
}

#ComponentsSection {
	margin-top: 40px;
	position: relative;
	width: 100%;
}

/*#ObjectsMenu {
	width: 100%;
	background-color: #333333;
	color: white;
}*/

#MiddleBlock {
	pointer-events: none;
	position: relative;
	color: var(--defaulttextcolorinide);
	height: 100%;
	//background-color: red;
	//opacity: 0.5;
	/*background-color: #B5B5B5;*/
	/*background: repeating-linear-gradient(45deg, #282828, #282828 10px, #333333 10px, #333333 20px);*/
	flex-grow: 1;
	/*position: fixed;
	opacity: 0.3;
	height: auto;
	background-color: transparent;
	overflow-x: auto;
	overflow-y: auto;
	display: table-cell;
	position: relative;*/
}

#BlankBackground {
	position: absolute;
	width: 100%;
	height: 100%;
	background: repeating-linear-gradient(45deg, #1f1f1f, #1f1f1f 10px, #212121 10px, #212121 20px);
	z-index: -4;
}

#DeviceFrame {
	position: absolute;
	z-index: -3;
	left: 220px;
	top: 52px;
	width: 100%;
	height: 100%;
	border: 1px solid white;
	border-radius: 1px;
	/*background-image: url("./images/Desktop.svg");*/
	box-sizing: border-box;
	margin: 0px;
	overflow: hidden;
}

#VQBody {
	/*cursor: url('/images/customCursor.svg'), pointer;*/
	font-family: var(--defaultfontfamilyinide);
	color: var(--defaulttextcolorinide);
	/*left: 200px;
	top: 60px;*/
	width: 2000000px;
	height: 2000000px;
	left: -1000000px;
	top: -1000000px;
	/*background-color: var(--defaultbackgroundcolorinide);*/
	background-color: pink;
	/*opacity: 0.5;*/
	position: fixed;
	z-index: -2;
	box-sizing: border-box;
	overflow: hidden;
	/*overflow: hidden;*/
	margin: 0px;
}

#VQBodyCustomCursor {
	pointer-events: none;
	z-index: 900000;
	width: 24px;
	height: 24px;
	font-size: 30px;
	display: inline-block;
	position: absolute;
	color: white;
	-webkit-transform: scaleX(-1) rotate(-0.05turn);
  transform: scaleX(-1) rotate(-0.05turn);
}

#RightMenu {
	/*z-index: -5;*/
	top: 50px;
	right: 0;
	width: 220px;
	height: 100%;
	/*flex-basis: 220px;*/
	background-color: var(--boxescolor);
	position: absolute;
	border-left: 1px solid var(--verydarkgray);
	box-sizing: border-box;
	display: inline-block;

}

.menuOption {
	font-size: 20px;
	/*color: white;*/
	text-align: center;
	border: 0px transparent solid;
	background-color: var(--verydarkgray);
	margin: 0.2px;
	padding-top: 10px;
	border-radius: 10px;
	height: var(--menuoptionheight);
	min-height: var(--menuoptionheight);
	max-height: var(--menuoptionheight);
	width: var(--menuoptionwidth);
	min-width: var(--menuoptionwidth);
	max-width: var(--menuoptionwidth);
	position: relative;
	display: inline-block;
	cursor: grab;
	pointer-events: none;
}

.menuOption:hover {
	opacity: 0.6;
}

.imgIconOption {
	width: 15px;
	height: auto;
}

.iconOption {
	font-size: 70%;
	color: var(--menutextolor);
}

.textOption {
	margin-top: 5px;
	font-size: 60%;
	color: var(--menutextolor);
	opacity: 0.2;
}

.parentDivInIDE {
	/*padding: 0.5em;
	margin: 0.5em;*/
	border: 2px solid #6195e8;
	resize: both;
	width: var(--divinidewidth);
	height: var(--divinideheight);
	cursor: pointer;
}

.activeParentDivInIDE {
	border: 3px solid red;
}

.objectSelected {
	border: 2px solid #6195e8;
}

.objectUnselected {
	border: none;
}

.textboxInVQBody {
	pointer-events: none;
	height: 100%;
	width: 100%;
	border: 0px;
	background-color: transparent;
	box-sizing: border-box;
}

.textboxInVQBody:disabled {
	border: 1px solid #8E8E8E;
	background-color: transparent;
}

.imageInIDE {
	pointer-events: none;
	height: auto;
	width: 100%;
	border: 0px;
}

.propertiesBox{
	border-bottom: 2px solid var(--verydarkgray);
	padding: 10px;
	font-size: 90%;
}

.subSettingName {
	margin: 10px 0px 5px 10px;
	font-size: 100%;
}

.keyInProperties {
	font-size: 80%;
	margin: 10px 0px 0px 10px;
	width: 110px;
	/*opacity: 0.95;*/
}

.valueInProperties {
	font-size: 75%;
}

.ketValueUnitInSetting {
	margin: 10px 0px 0px 10px;
}

.keyInSettings {
	font-size: 90%;
}

.valueTextboxInProperties {
	width: 30px;
	border: none;
	border-radius: 0px;
	background-color: var(--verydarkgray);
	color: var(--color);
	text-align: right;
	font-size: 85%;
	height: 20px;
}

.valueTextboxInSettings {
	margin: 0;
	width: 30px;
	border: none;
	border-radius: 0px;
	background-color: var(--verydarkgray);
	color: var(--color);
	text-align: right;
	font-size: 85%;
	height: 20px;
}

.valueTextboxInSettings:focus {
	outline: none;
}

.colorPickerInSettings {
    border: 1px solid var(--verydarkgray);
	outline: none;
	background-color: var(--bodybackgroundcolor);
	padding: 0px;
	margin: 0px;
	width: 34px;
	height: 20px;
	cursor: pointer;
	user-select: auto;
}

.colorPickerInSettings::-webkit-color-swatch {
    border: none;
	outline: none;
}

.unitsInSettings {
	margin-left: 5px;
	font-size: 80%;
}

.dropdownMenuBox {
	z-index: 2000000;
	top: -5px;
	position: relative;
	display: inline-block;
	cursor: pointer;
	margin-left: 40%;
}

.dropdownMenuList {
	z-index: 2000000;
	border: 1px solid var(--verydarkgray);
	background-color: var(--boxescolor);
	position: fixed;
}

.selectedDropdownMenuOption {
	padding: 5px 10px 5px 10px;
	font-size: 13px;
	position: relative;
}

.dropdownMenuOption {
	padding: 5px 10px 5px 10px;
	font-size: 13px;
	position: relative;
}

.dropdownMenuOption:hover {
	background-color: var(--verydarkgray);
}

.DragToDropHelper {
	position: absolute;
	display: inline-block;
	background-color: #4b7c96;
	height: 65px;
	box-sizing: border-box;
	zIndex: 999999999;
}

.itemInVQBody {
	background-Color: white;
	opacity: 0.5;
	position: absolute;
}

.redCursor {
	/*cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="32" width="32"><path fill="red" d="M8.45,18.28L.62,28.08,.5,1.08,21,18.29l-12.55-.02Z"/></svg>'), pointer;*/
}

.disableMouseEvents {
	pointer-events: none;
}

/*.settingsSectionCell {
	display: table-cell;
	color: white;
	border: 1px solid white;
	width: 100%;
	min-width: 100%;
}

.settingsName {
	font-size: 80%;
	display: table-row;
}

.settingsKey {
	display: table-cell;
}

.settingsValue {
	display: table-cell;
}*/


/*.grabbing<strong>MenuOptionCell</strong> {
	font-size: 20px;
	color: #747474;
	text-align: center;
	border: 1px #4C4C6F solid;
	border-radius: 10px;
	cursor: grabbing;
	position: fixed;
	opacity: 0.1;
	background-color: #C1C1C1;
	z-index: 10000000;
}*/
